html {
  font-size: 17px;
}

body {
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 32px;
  margin-bottom: -10px !important;
}

small {
  font-weight: lighter;
  color: gray;
  margin: 0;
}


.App {
  text-align: center;
  padding: 32px;
  border-radius: 0.5px;
  width: 19rem;
  margin: 20px auto;
  box-shadow: 15px 20px 70px -10px;
}

.input-range__label-container {
  display: none;
} 